html,body,ul,li,h1,h2,h3,h4,h5,h6,ol,dl,dd,dt,p,form,fieldset,legend,img,input,figure,figcaption,header,nav,section,footer{
    margin:0px;
    padding:0px;
}

h1,h2,h3,h4,h5,h6{font-size:16px;font-weight:normal;}
ul,ol,li{list-style:none;}
b,strong{font-weight:normal;}
em,i{font-style:normal;}
a,u{text-decoration: none;}
img{border:0;display:block;}
input{outline:none;}

header{
	height: 172px;
}
.head_H{
	height: 173px;
	width: 1349px;
	margin: 0 auto;
}
.head_1{
	height: 30px;
	margin: 0 auto;
	background: #333333;
}
.head_2{
	height: 30px;
	width: 384px;
	font-size: 11px;
	line-height: 30px;
	float: right;
}
.head_left{
	float: left;
	margin-right: 31px;
}
.head_left li{
	float: left;
	color: #e5e5e5;
	margin-right: 5px;
}
.head_left li a{
	color: #e5e5e5;
}
.head_right{
	float: left;
}
.head_right li a{
	color: #e5e5e5;
}
body a:hover{
	color:red;
}
.head_right li{
	float: left;
	margin-right: 28px;
}
.head_3{
	height: 71px;
}
.head_4{
	height: 34px;
	margin-top: 34px;
}
.head_4 img{
	margin-left: 75px;
	float: left;
}
.head_4 #left_1{
	float: left;
	margin-top: -5px;
	margin-left: 107px;
	height: 36px;
	width: 396px;
	border: 1px solid #2884c7;
}
.head_4 #left_2{
	float: left;
	margin-top: -5px;
	height: 38px;
	width: 91px;
	background: #2884c7;
	border:0px;
}
.head_4 #left_3{
	float: left;
	margin-top: -5px;
	margin-left: 82px;
	height: 38px;
	width: 162px;
	background: #fff;
	border:1px solid #d8d6d6;
	color: #2884C7;
	background: url(../images/ls1.png) no-repeat 30px;
}
.head_5{
	height: 38px;
}
.head_5 .nav_A{
	height: 38px;
	width: 236px;
	background: #282727 url(../images/ls3.png) no-repeat 75px;
	color: #fff;
	text-align: center;
	line-height: 38px;
	margin-left: 75px;
	font-size: 12px;
	float: left;
	
}
.head_5 ul{
	float: left;
	margin-left: 39px;
}
.head_5 ul li{
	float: left;
	margin-right: 25px;
	line-height: 38px;
	font-size: 13px;
}
.head_5 li a{
	color: #333333;
}
.head_5 li a:hover{
	color: red;
}
.head_5 .nav_B{
	float: right;
	margin-right: 75px;
}
.head_5 .nav_B img{
	float: left;
}
/*---------------------*/
main{
	height: 637px;
}
main .top_box{
	height: 44px;
	width: 1349px;
	margin: 0 auto;
	border-top:2px solid #333333;
}
main .top_box ul{
	margin-left: 56px;
}
main .top_box li{
	float: left;
	margin:0 24px;
}
.top_box h1{
	line-height: 44px;
	color: #333;
	font-size: 11px;
}
.top_box h1:hover{
	color: red;
}
.center_box{
	height: 590px;
	width: 1200px;
	margin: 0 auto;
}
.main_left{
	height: 448px;
	width: 448px;
	border: 1px solid saddlebrown;
	float: left;
}
.main_right{
	width: 720px;
	height: 179px;
	float: right;
}
.main_right_name{
	height: 36px;
	width: 720px;
	padding-bottom: 10px;

}
.main_right_name h1{
	margin-top: 4px;
	margin-right: 6px;
	font-size: 12px;
	color: #fff;
	line-height: 20px;
	text-align: center;
	height: 20px;
	width: 60px;
	background: #f01e00;
	border-radius: 3px;
	float: left;
}
.main_right_nameh2{
	font-size: 20px;
}
.main_right_mation{
	width: 720px;
	height: 21px;
	padding: 15px 0;
	margin-top:15px;
	background: rgb(249,249,249);
}
.main_right_mation h1{
	margin-left: 10px;
	margin-right: 30px;
	font-size: 12px;
	float: left;
	color: rgb(136,136,136)
}
.main_right_mation h2{
	font-size: 18px;
	line-height: 15px;
	color: rgb(200,0,77);
}
.dazhePrice{
	height: 66px;
	width: 720px;
}
.dazhePrice h1{
	float: left;
	margin-right: 25px;
	line-height: 30px;
	margin-left: 10px;
	font-size: 12px;
	color: rgb(136,136,136)
}
.dazhePrice h2{
	line-height: 30px;
	padding-bottom: 5px;
	font-size: 12px;
	color: rgb(136,136,136)
}
.dazhePrice h3{
	
	padding-left: 80px;
	font-size: 12px;
	color: rgb(136,136,136)
}
.dazhePrice h3 span{
	padding-right: 10px;
	color: rgb(255,140,0);
}
.sale-wrap{
	height: 42px;
	width: 720px;
}
.sale-wrap h1{
	line-height: 42px;
	font-size: 12px;
    color: #888888;
	margin-left: 15px;
	float: left;
}
.sale-wrap .add{
	border: 1px solid #ececec;
    background: #fff;
    width: 105px;
    height: 40px;
    line-height: 40px;
	margin-left: 40px;
	float: left;
}
.sale-wrap .add input{
	display: block;
	cursor: pointer;
	float: left;
	text-align: center;
	font-size: 14px;
	color: black;
    line-height: 40px;
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    border: none;
}
.sale-wrap .add #shang{
	float: left;
	display: block;
    line-height: 40px;
    width: 25px;
    border: none;
    background: none;
    text-align: center;
	height: 36px;
}
.sale-wrap span{
	padding-left: 15px;
    color: #ff7800;
    font-size: 12px;
    line-height: 40px;
}
.jiage{
	margin-top: 10px;
	height: 50px;
	width: 720px;
}
.jiage .p1{
	margin-left: 13px;
	line-height: 50px;
	margin-right: 47px;
	font-size: 12px;
	float: left;
	color: rgb(136,136,136)
}
.jiage .qian{
	float: left;
	font-size: 18px;
	line-height: 50px;
	color: rgb(200,0,77);
}
.dianji button{
	text-align: center;
	background-color: #f01e00;
    color: #fff;
	float: right;
	height: 50px;
	width: 150px;
	font-size: 18px;
	line-height: 50px;
	border: none;
}
.r6{
	height: 216px;
	width: 720px;

}
.r6 h1{
	text-indent: 12px;
    float: left;
    width: 65px;
    height: 34px;
    line-height: 34px;
    vertical-align: top;
    font-size: 12px;
    color: #888888;
    overflow: hidden;
    white-space: nowrap;
    margin-right: 15px;
	line-height: 24px;
    font-size: 12px;
}
.r6 h2{
	color: rgb(255, 0, 0);
    font-family: 微软雅黑, 'Microsoft YaHei', 宋体, Impact, Arial, Helvetica;
    font-size: 14px;
    line-height: 22px;
}
/*--------------------------*/
.center_6{
	height: 42px;
	width: 1293px;
	margin: 20px auto;
}
.center_6 ul{
	margin-left: 109px;
}
.center_6 li{
	width:271px;
	line-height: 42px;
	float: left;
}
.center_6 img{
	margin-right: 14px;
	float: left;
}
.center_6 i{
	font-size: 40px;
	margin-right: 14px;
	float: left;
}
.center_6 a{
	color: #000;
}
.center_6 li a:hover{
	color: red !important;
}
.center_6 h1{
	color:black;
}
.center_6 li:hover h1{
	color:red;
}
.center_6 .li3{
	margin-left: 60px;
}

/*footer*/

footer{
	height: 270px;
	
}
footer .ls_footer1{
	width:1349px;
	height: 270px;
	background: #191919;
	margin: 0 auto;
}
footer .ls_footer2{
	margin-left: 109px;
}
footer .ls_footer2{
	height: 218px;
}
footer .ls_footer2 ul{
		padding-left: 30px;
	float: left;
}
footer .ls_footer2 ul h1{

	padding-right: 80px;
	padding-bottom: 16px;
	padding-top: 37px;
	font-size: 11px;
	color:#bec2c2;
}
footer .ls_footer2 ul li a{
	font-size:11px;
	color:#787878;
}
footer .ls_footer3{
	height: 138px;
	width:200px;
	margin-left: 50px;
	padding-top: 67px;
	float: left;
}
footer .ls_footer3 h1{
	height: 35px;
	width: 158px;
	margin: 0 auto;
	line-height: 35px;
	text-align: center;
}
footer .ls_footer3 h2{
	font-size: 12px;
	color:red;
	/*background: #2d2c2d;*/
	border: 1px solid #575756;
}
footer .ls_footer3 h1:hover{
	background:#2d2c2d;
}
footer .ls_footer3 h3{
	margin-top: 27px;
	text-align: center;
	font-size: 9px;
	color: white;
}
footer .ls_footer4 h1{
	font-size: 9px;
	text-align: center;
	line-height: 20px;
	color: #7d8488;
	margin: 0 auto;
	height: 52px;
	width:1090px;
}
footer .ls_footer4 h2{
	font-size: 9px;
}
.photo{
	width: 1200px;
	margin: 0 auto;
}

----------------------
.tabs{
	height: 52px;
	width: 1349px;
}
.liebiao{
	border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
	margin: 20px auto;
	width: 1198px;
	height: 50px;
}
.liebiao li{
	width: 120px;
	float: left;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    height: 50px;
    color: #333;
    cursor: pointer;
}
